/* Linking Page */

i {
    padding-right: 0.5rem;
}

.heading h2 p {
    padding: 0;
}

.heading{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.patient-linking {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 6rem;
}

.patient-linking form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 768px) {
.patient-linking{
    padding: 0 2rem 2rem 2rem;
}

.patient-linking form {
    align-items: center;
}
}