/* General Settings */

:root{
  --primary-color: #ececec;
  --green: #0e923a;
}

body{
  
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
    list-style: none;
}

/* Buttons */

.btn-primary,
.btn-secondary,
.btn-danger {
  padding: 0.5rem 0.8rem;        /* mesma altura e espaçamento */
  border-radius: 4px;          /* mesma borda arredondada */
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  border: none;
  outline: none;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 200px;             /* mesma largura ou ajustar para 100% se necessário */
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15); /* mesma sombra */
  cursor: pointer;
}

.btn-primary {
  background-color: var(--green);
  color: white;
}

.btn-primary:hover {
  background-color: #16752c;
  transform: translateY(-2px);
}

.btn-secondary {
  background-color: white;
  color: black;
}

.btn-secondary:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
}

.btn-secondary:hover {
  background-color: #f0f0f0; 
  transform: translateY(-2px); /* mesma elevação que o primário */
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  cursor: pointer;
}
.btn-link {
  color: black;
  border-radius: 8px; 
  font-weight: 400;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btn-link:hover{
  color: var(--green);
}

/* Typography */

body {
    font-family: "Montserrat";
    font-size: 16px
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

p {
    border: 0;
    margin: 0;
}

.link {
    text-decoration: underline;
    color: black;
}

.text-fade {
    color: rgb(114, 114, 114);
}


/* Main Content Container */

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4rem;
}