<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Browser Configuration -->
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <!-- Page Title -->
        <title> {% block title %} NutriCare {% endblock%} </title>

        <!-- CSS Style -->
        <link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}"/>
        <link rel="stylesheet" href= "{{ url_for('static', filename='css/login.css') }}"/>
        <link rel="stylesheet" href= "{{ url_for('static', filename='css/send_request.css') }}"/>
        <link rel="stylesheet" href= "{{ url_for('static', filename='css/diet.css') }}"/>
        <link rel="stylesheet" href= "{{ url_for('static', filename='css/dashboard.css') }}"/>

        <!--Icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

        <!-- Favicon -->
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <!-- JavaScript -->

    </head>

    <body>
    

        
            {% block content %}
            
            {% endblock %}
        

        
    </body>
</html>