{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}

<!-- Variables -->
{%set p_id = request.args.get('patient_id') %}
{% set n_id = request.args.get('nutri_id') %}
{% set meals = ['breakfast', 'lunch', 'dinner', 'snacks'] %}

<section class="d-main-container">

    <div class="logout">
        <form action="{{url_for('auth.logout')}}" method="POST">
            <button class="btn-danger" type="submit"> Log Out </button>
        </form>
    </div>

    <section class="d-content"> 
        
        {% include "partials/dashboard_sidebar.html" %}
        <section class="d-main-content">

        {% if current_user.role == 'nutritionist' %}
            <div class="d-text"> 
                <div class="d-intro">
                    <h2> Dashboard </h2>
                    <p> This is where you can see, edit, create and share your patients' diet.</p>
                </div>
                <div class="d-diet">
                    {% if patients %}
                        {% if diet %}
                        <div class="d-diet-edit">
                            <h3> {{name}}'s Diet </h3> 
                            <a class="btn-primary" href="{{url_for('management.manage_diet', patient_id = request.args.get('patient_id'))}}"> Edit Diet </a>
                        </div>
                            
                    
                        {% else %}
                            <h3> {{name}}'s Diet </h3>
                            <div class="d-diet-create">
                                <p> A diet hasn't been created yet.</p>                               
                                <a class="btn-primary" href="{{url_for('management.manage_diet', patient_id = request.args.get('patient_id'))}}"> Create Diet </a>        
                            </div>
                                                          
                        {% endif %} 
                    {% else %}
                        <h3> Diet </h3>
                        <p class="blank"> You don't have any associated patients. </p>        
                    {% endif %}  
                </div>
            </div>

        {% elif current_user.role == 'patient' %}   
            <div class="d-text">
                <div class="d-intro">
                    <h2 class="page-title"> Dashboard </h2>
                    <p> This is where you can see the diet your nutritionist created for you.</p>
                </div>
                <div class="d-requests">
                    <h3> Requests </h3>
                    {% if requests %}
                    <!-- Create a form for each request -->
                        {% for request in requests %} 
                        <div class="request-item">
                            <p> {{ request.name }} </p>
                            <form class="request" action="{{url_for('requests.respond_request')}}" method="POST">
                                <input type="hidden" name="nutri_id" value="{{request.id}}">
                                <button class="small-btn btn-green" type="submit" name="action" value="accept"> <i class="fa-solid fa-check"></i> Accept </button>
                                <button class="small-btn btn-red" type="submit" name="action" value="reject"><i class="fa-solid fa-xmark"></i> Reject </button>
                            </form>
                        </div>
                        {%endfor%}
                    {% else %}
                        <p> You don't have any pending requests. </p>
                    {%endif%}
                </div>
                <div class="diet-text">
                    <div class="diet-text-name">
                        <h3> Your Diet </h3>
                        {% if nutritionists %}
                        <p class="h5"> Nutritionist: {{ name }} </p>
                    </div>
                            {%if not diet%}
                            <p> Your nutritionist didn't create a diet for you yet!</p>
                            {%endif%}
                        {%else%}
                            <p id="space-text"> You don't have any associated nutritionists. </p>
                        {%endif%}    
                </div>
            </div>   
        {%endif%}

        <!----- DIET SECTION ------>
        {% if diet %}
            <section class="show-meals">
                {% for meal in meals %}
                    <div class="show-meal">
                        <!-- Meal Title -->
                        <h3>{{meal.capitalize()}}</h3>
                        <!-- Meal Combinations -->
                        <div class="show-combinations">
                        <!-- A div for each Combination -->
                        {% for i in range(1,4) %}
                            {% set items_in_combination = diet
                                | selectattr("meal_type", "equalto", meal)
                                | selectattr("combination","equalto", i|string) 
                                | list %}
                        
                            {% if items_in_combination %}
                            <div class="show-combination">
                                <!-- Combination Title -->
                                <h3> Combination {{i}}</h3>
                                <!-- Items list for each combination -->
                                <div class="show-combination-items">
                                    {% for item in items_in_combination %}
                                    <p class="show-combination-item"> {{ item.item }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        {%endfor%}
                        </div>   
                    </div>
                {%endfor%}     
            </section>
        {% endif %}
        </section>  <!-- Main Content-->    
    </section> <!-- Content-->    
</section> <!-- Main Container-->

{% endblock %}
