<!-- Using base.html layout-->
{% extends "base.html" %}
<!-- Page Title -->
{% block title %} Register {% endblock %}
<!-- Page Content -->
{% block content %}

<!-- Variables -->
 {%set p_id = request.args.get('patient_id') %}
 {% set n_id = request.args.get('nutri_id') %}
 {% set meals = ['breakfast', 'lunch', 'dinner', 'snacks'] %}

<!-- SIDE MENU -->

<!-- Nutritionist Side Menu-->
{% if user.role == 'nutritionist'%}

    <div class="side-menu">
        <a href="{{url_for('linking')}}"> Add a Patient </a> <!-- 'Add Patient' Button -->
        <h3> Your Patients </h3> <!-- Menu Title -->

        <!-- Display Patients Names -->
        {% if patients %}
            <ul>
            {% for patient in patients %}
                <li> <a href="{{url_for('dashboard', patient_id = patient.id, nutri_id = current_user.id )}}"> {{ patient.name }} </a> </li>
                <li> 
                    <form method="POST" action="{{ url_for('dashboard', patient_id = p_id, nutri_id = n_id, tab = selected_tab)}}"> 
                        <input name="remove_patient" type="hidden" value="{{ patient.id }}">
                        <button type="submit"> Remove </button>
                    </form>
                </li>
            {% endfor %}
            </ul>
        <!-- If there are no patients -->
        {% else %}
            <p class="blank"> You don't have any associated patients. </p>
            <a href="{{url_for('linking')}}"> Add a Patient </a>
        {% endif %}
    </div>

{% endif %}

<!-- Patient Side Menu-->
{% if user.role == 'patient'%}

    <div class="side-menu">
        <!-- Display Nutritionists Names -->
        <h3> Your Nutritionists </h3>
        {% if nutritionists %}
            <ul>
            {% for nutri in nutritionists %}
                <li> <a href="{{url_for('dashboard', patient_id = current_user.id, nutri_id = nutri.id)}}"> {{ nutri.name }} </a> </li>
            {% endfor %}
            </ul>
        {% else %}
        <p class="blank"> You don't have any associated nutritionists. </p>
        {% endif %}
    </div>

{% endif %}


<!-- REQUESTS -->

{%if current_user.role == 'patient'%}

    <h3> Requests </h3>
        <div class="top-options">
            {% if requests %}
            <!-- Create a form for each request -->
                {% for request in requests %} 
                    <p> {{ request.name }} </p>
                    <form class="request" action="{{url_for('dashboard')}}" method="POST">
                        <input type="hidden" name="nutri_id" value="{{request.id}}">
                        <button type="submit" name="action" value="accept"> Accept </button>
                        <button type="submit" name="action" value="reject"> Reject </button>
                    </form>
                {%endfor%}
            {% else %}
                <p> You don't have any requests </p>
            {%endif%}

{%endif%}



<!-- Main Content -->

<!-- Page Title -->
<h2> Dashboard </h2>

<!-- Tabs -->
<div class="tabs">
    <ul>
        <li> <a href="{{url_for('dashboard', patient_id = p_id, nutri_id = n_id, tab='diet')}}"> Diet </a> </li>
        <li> <a href="{{url_for('dashboard', patient_id = p_id, nutri_id = n_id, tab='progress')}}"> Progress </a> </li>
        <li> <a href="{{url_for('dashboard', patient_id = p_id, nutri_id = n_id, tab='messages')}}"> Messages </a> </li>
    </ul>
</div>

    <!-- Diet Tab -->
    {% if selected_tab == 'diet'%}

        <!-- Title Section -->
        <section class="diet-title">

            <!-- Diet Title -->
            <h3> Diet </h3>
            
            <!-- Create/Edit Diet -->
            {% if diet %}
                <a href="{{url_for('diet', patient_id = request.args.get('patient_id'))}}"> Edit Diet </a>
            {% else %}                 
                <a href="{{url_for('diet', patient_id = request.args.get('patient_id'))}}"> Create Diet </a>     
            {% endif %}
        </section>
    
        <!-- Content Section -->
        <section class="diet-content">

            <!-- A div for each Meal Type -->
            {% for meal in meals %}
                <div class="meal">

                    <!-- Meal Title -->
                    <h3>{{meal.capitalize()}}</h3>

                    <!-- Meal Combinations -->
                    <div class="combinations">
                        <!-- A div for each Combination -->
                        {% for i in range(1,4) %}
                            <div class="combination">

                                <!-- Combination Title -->
                                <h3> Combination {{i}}</h3>

                                <!-- Items list for each combination -->
                                <div class="items">
                                {% for item in diet %}
                                    {%if item.meal_type == meal and item.option == i|string %}
                                        <p> {{ item.item }}</p>
                                    {%endif%}
                                {%endfor%}
                                </div>
                            </div>
                        {%endfor%}
                    </div>   
                </div>
            {%endfor%}
        </section>
    {% endif %}

{% endblock %}
