<!-- Using base.html layout-->
{% extends "base.html" %}
<!-- Page Title -->
{% block title %} Register {% endblock %}
<!-- Page Content -->
{% block content %}

<!--  -->
<h2> Create a Diet </h2>
<p> Create the combinations for each meal and let your patient know the quantity.</p>

<form method="POST" action="{{url_for('diet', patient_id = patient_id, nutri_id = nutri_id)}}">
    <input type="hidden" name="patient_id" value="{{ patient_id }}">

    {% for meal in meals %}
        <section class="meal">
            <h3> {{meal.capitalize()}} </h3>
            {% for j in range(1,4)%}
            <section class = "combinations">
                <div class="combination">
                    <label for="meal"> Combination {{j}}</label>
                    <div class="inputs"> 
                        {% set meal_items = diet 
                                | selectattr('meal_type', 'equalto', meal)
                                | selectattr('option', 'equalto', j|string) 
                                | map(attribute='item') 
                                | list %}
                        {% for i in range(1,5)%} 
                        
                            <input type="text" name="{{meal}}_{{j}}[]" placeholder="Item {{i}}" value="{{meal_items[i-1] if diet and i-1 < meal_items|length else ''}}">    
                        {% endfor %} 
                    </div>
                </div>
            </section>   
            {% endfor %}
        </section>
    {% endfor %}

    <button type="submit">Save Diet</button>
</form>

{% endblock %}