<!-- Using base.html layout-->
{% extends "base.html" %}
<!-- Page Title -->
{% block title %} Register {% endblock %}
<!-- Page Content -->
{% block content %}

<section class="creating-diet">
    <div class="diet-title">
        <a class="btn-link" href="{{url_for('main.dashboard')}}"> <i class="fa-solid fa-arrow-left"></i> Return to Dashboard</a>
        <div>
            <h2> Create a Diet </h2>
            <p> Create meal combinations for each meal and provide your patient with the recommended portions..</p>
        </div>
        
    </div>


<form method="POST" action="{{url_for('management.manage_diet', patient_id = patient_id, nutri_id = nutri_id)}}" >
    <input type="hidden" name="patient_id" value="{{ patient_id }}">
    <section class="show-meals">
    {% for meal in meals %}
        <section class="show-meal">
            <h3> {{meal.capitalize()}} </h3>
            <section class = "show-combinations">
            {% for j in range(1,4)%}  
                <div class="show-combination">
                    <label for="meal"> Combination {{j}}</label>
                    <div class="show-combination-items"> 
                        {% set meal_items = diet 
                                | selectattr('meal_type', 'equalto', meal)
                                | selectattr('combination', 'equalto', j|string) 
                                | map(attribute='item') 
                                | list %}
                        {% for i in range(1,5)%} 
                        
                            <input type="text" name="{{meal}}_{{j}}[]" placeholder="Item {{i}}" value="{{meal_items[i-1] if diet and i-1 < meal_items|length else ''}}">    
                        {% endfor %} 
                    </div>
                </div>
            {% endfor %}
            </section> 
        </section> 
    {% endfor %}
    </section>
           
    <button class="btn-primary btn-diet" type="submit">Save Diet</button>
</form>
</section>

{% endblock %}