{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}

<section class="form-section">

    <h2> Sign Up to NutriCare </h2>
    <form class = "form-container" action="{{url_for('register')}}" method="POST">

        <div class="input-container">
            <input class=" "name="name" type="text" placeholder="Full Name">
            <input class=" "name="email" type="text" placeholder="Your Email">
            <input class="" name="password" type="password" placeholder="Password">
            <input class="" name="confirmation" type="password" placeholder="Confirm Password">
            
        </div>

        
        <div class="radio-container">
            <label>
                <input type="radio" name="role" value="patient">
                I'm a Patient
            </label>
            <label>
                <input type="radio" name="role" value="nutritionist">
                I'm a Nutritionist
            </label>
        </div>

        <div class="error-container">
            {% if errors %}
                {% for error in errors %}
                    <p class="error"> {{error}} </p>
                {% endfor %}
        {% endif %}
        </div>
        
        <button type="submit" class="btn-primary">Sign Up</button>
    </form>

</section>

{% endblock %}